.comright{
    height: 500px;
}    
@media only screen and (min-width: 768px) {
    .comright{
        float: right;
        margin: 7rem 0 0 0;
        width: 30%;
    }
}
/* @media only screen and (min-width: 481px)  and (max-width: 767px){

} */
@media only screen and (max-width: 480px) {
    .comright{
        margin: 4rem 0.5rem 0 0.5rem ;
        width: 96%;
    }
}